{% extends 'admin-dashboard.html' %}


{%block title %} Recent Orders {% endblock %}


{% block content %}

<section class="recent-order-table-section">

    <div class="report-container">
        <div class="report-header">
            <h1 class="recent-orders">Recent Orders</h1>
            <button class="view">View All</button>
        </div>

        <div class="report-body">
            <div class="report-topic-heading">
                <h3 class="t-op">Food Item</h3>
                <h3 class="t-op">Quantity</h3>
                <h3 class="t-op">Customer</h3>
                <h3 class="t-op">Payment Status</h3>
            </div>

            <div class="items">
                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Pending</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

                <div class="item1">
                    <h3 class="t-op-nextlvl">food item name</h3>
                    <h3 class="t-op-nextlvl">1</h3>
                    <h3 class="t-op-nextlvl">customer name</h3>
                    <h3 class="t-op-nextlvl label-tag">Complete</h3>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

</section>


{% endblock %}