{% extends 'admin-dashboard.html' %}

{% block title %} Customer {% endblock %}

{% block content %}

<section class="category-table-section">

    <div class="customer-table-section">
        <div class="report-container">
            <div class="report-header">
                <h1 class="recent-orders">Customers</h1>
                <a href="{% url 'admin-dashboard-customer-add' %}" class="btn-add">Add more customers</a>
            </div>

            <table class="report-body">
                <thead class="report-topic-head">
                    <tr>
                    <th class="t-op">Id</th>
                    <th class="t-op">First Name</th>
                    <th class="t-op">Last Name</th>
                    <th class="t-op">Email Id</th>
                    <th class="t-op">Phone no</th>
                    <th class="t-op">Date Of Birth</th>
                    <th class="t-op">User_id</th>
                    <th class="t-op"></th>
                    <th class="t-op"></th>
                    </tr>
                    </thead>
                <tbody class="items12">
                    {% for customer in customers %}
                    <tr>
                        <td class="t-op-nextlvl">{{ customer.customer_id}}</td>
                        <td class="t-op-nextlvl">{{ customer.first_name}}</td>
                        <td class="t-op-nextlvl">{{ customer.last_name}}</td>
                        <td class="t-op-nextlvl">{{ customer.email_id}}</td>
                        <td class="t-op-nextlvl">{{ customer.phone_no}}</td>
                        <td class="t-op-nextlvl">{{ customer.dob}}</td>
                        <td class="t-op-nextlvl">{{ customer.user_id}}</td>
                        <td class="t-op-nextlvl">
                            <div class="update-btn">
                                <a href="{% url 'edit_customer' customer_id=customer.customer_id %}" class="btn-edit">Edit</a>
                                <a href="{% url 'delete_customer' customer_id=customer.customer_id  %}" class="btn-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<style>
    .btn-edit,
    .btn-delete,.btn-add {
        border: none;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
    }
    .btn-edit, .btn-add {
        background-color: #008CBA;
    }
    .btn-delete {
        background-color: #f44336;
    }
    .report-body {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    /* Style the header cells */
    .report-topic-head th {
        background-color: #f2f2f2;
        padding: 10px;
        border: 0px solid #ddd;
        text-align: left;
    }

    /* Style the data cells */
    .items12 td {
        padding: 10px;
        border: 0px solid #ddd;
    }
</style>

{% endblock %}