{% extends 'admin-dashboard.html' %}

{% block title %} Reservations {% endblock %}

{% block content %}

<section class="reservation-table-section">
    <div class="reservation-table-section">
        <div class="report-container">
            <div class="report-header">
                <h1 class="recent-orders">Reservations List</h1>
            </div>

            <table class="report-body">
                <thead class="report-topic-head">
                    <tr>
                    <th class="t-op">Name</th>
                    <th class="t-op">Date</th>
                    <th class="t-op">Time</th>
                    <th class="t-op">No of Person</th>
                    <th class="t-op">Message</th>
                    <th class="t-op">Request Status</th>
                    <th class="t-op"></th>
                    </tr>
                </thead>
                <tbody class="items12">
                    {% for reservation in reservations %}
                    <tr>
                        <td class="t-op-nextlvl">{{ reservation.booking_name}}</td>
                        <td class="t-op-nextlvl">{{ reservation.date}}</td>
                        <td class="t-op-nextlvl">{{ reservation.time}}</td>
                        <td class="t-op-nextlvl">{{ reservation.total_person}}</td>
                        <td class="t-op-nextlvl">{{ reservation.message}}</td>
                        <td class="t-op-nextlvl">{{ reservation.status}}</td>
                        <td class="t-op-nextlvl">
                            <div class="update-btn">
                                <a href="{% url 'approve_reservation_request' reservation_id=reservation.reservation_id %}" class="btn-edit {% if reservation.status != 'pending' %}disabled{% endif %}">Approve </a>
                                <!-- <a href="/admin-dashboard-category-edit/{{ category_id }}" class="btn-edit">Edit</a> -->
                                <a href="{% url 'deny_reservation_request' reservation_id=reservation.reservation_id %}" class="btn-delete {% if reservation.status != 'pending' %}disabled{% endif %}">Deny</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>
        </div>
    </div>
</section>



<style>
    .btn-edit,
    .btn-delete,
    .btn-add {
        border: none;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
    }
    .btn-edit, .btn-add {
        background-color: #008CBA;
    }
    .btn-delete {
        background-color: #f44336;
    }
    .disabled {
        background-color: grey;
        pointer-events: none;
        opacity:0.6s;
    }
    .report-body {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    /* Style the header cells */
    .report-topic-head th {
        background-color: #f2f2f2;
        padding: 10px;
        border: 0px solid #ddd;
        text-align: left;
    }

    /* Style the data cells */
    .items12 td {
        padding: 10px;
        border: 0px solid #ddd;
    }
</style>

{% endblock %}