{% extends "base.html" %}
{% block content %}
{% load static %}

<script>
  const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'INR',
      });

  function priceFunction(id,price){
    $("#"+id).html(formatter.format(price))
  }

</script>


<div>
<section class="section food-menu" id="food-menu">
    <div class="container">
      <p class="section-subtitle">Cart Page</p>

      <h2 class="h2 section-title">
        Welcome to <span class="span">Cart</span>
      </h2>

      
      <!-- <ul class="fiter-list">
        <li>
          <button class="filter-btn active">All</button>
        </li>

        <li>
          <button class="filter-btn">Pizza</button>
        </li>

        <li>
          <button class="filter-btn">Burger</button>
        </li>

        <li>
          <button class="filter-btn">Drinks</button>
        </li>

        <li>
          <button class="filter-btn">Sandwich</button>
        </li>
      </ul> -->

      <ul id="food-items-list" class="food-menu-list">

        {% for item in cart %}

          
          <li>
            <div class="food-menu-card">
              <div class="card-banner">
                <img
                  src="{% static 'images/food-menu-4.png' %}" 
                  width="300"
                  height="300"
                  loading="lazy"
                  alt="{{ item.food_id.food_title }}"
                  class="w-100"
                />
  
                <!-- <div class="badge">-15%</div> -->
  
               
              </div>
  
              <div class="wrapper">
                <p class="category">{{ item.food_id.food_title }}</p>
  
                <div class="rating-wrapper">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
  
              <h3 class="h3 card-title">{{ item.food_id.feature }}</h3>
  
              <div class="price-wrapper">
                <p class="price-text">Price:</p>
  
                <data class="price" id="price-data-{{item.cart_id}}">{{ item.food_id.price }}</data>
  
                <del class="del" value="{{ item.food_id.price }}" id="price-del-{{item.cart_id}}"></del>
                <script>
                  priceFunction( "price-data-{{item.cart_id}}" , {{ item.food_id.price }}*{{ item.quantity }})
                  priceFunction("price-del-{{item.cart_id}}" , {{ item.food_id.price }}*{{ item.quantity }})
                </script>
              </div><hr>
              <div class="price-wrapper">
                  <p class="price-text">Quantity: </p>
  
                  <a href="{% url 'cart-quantity-remove' cart_id=item.cart_id%}"> <button style="margin-right: 3%;background-color: rgb(255, 174, 127);border-radius: 50%;padding: 8px 15px;"><i class="fa fa-minus"></i></a>
                  </button>
                  <input type="number" value="{{ item.quantity }}" readonly >
                  <a href="{% url 'cart-quantity-add' cart_id=item.cart_id%}"> <button style="margin-right: 3%;background-color: aquamarine;border-radius: 50%;padding: 8px 15px;"><i class="fa fa-plus"></i></button></a>
                  
                  <a href="{% url 'cart-remove' cart_id=item.cart_id%}"><button style="margin-right: 3%;background-color: rgb(209, 61, 61);border-radius: 50%;padding: 8px 15px;"><i class="fa fa-trash"></i></button></a>
                </div>
            </div>
          </li>
        {% endfor %}

       

      </ul>
    </div>
  </section>

  <hr><br>
  {% if cart %}
  <section>
    <form
      action="{% url 'make_reservation' %}"
      method="post"
      class="footer-form"
    >
      {% csrf_token %} {{ form.as_p }}

      <p class="footer-list-title" style="text-align: center !important;">Enter Your Details</p>

      <div class="input-wrapper">
        <label for="name">Full Name</label>
        <input
          type="text"
          name="name"
          required
          placeholder="Your Name"
          aria-label="Your Name"
          class="input-field"
          id="name"
        />
        
        <label for="name">Email Address</label>
        <input required class="input-field" type="text" placeholder="example@gmail.com" name="email" id="email"/>

        <label for="name">Home Address</label>
        <input required class="input-field" type="text" placeholder="Street No." name="street" id="street"/>

        <label for="name">City</label>
        <input required class="input-field" type="text" placeholder="Delhi" name="city" id="city"/>

        <label for="name">State</label>
        <input required class="input-field" type="text" placeholder="Delhi" name="state" id="state"/>

        <label for="name">Zip Code</label>
        <input required class="input-field" type="text" placeholder="1100" name="zip" id="zip"/>

      <div style="text-align: center;display: flex;">
        <!-- <button type="submit" class="btn" style="text-align: center;align-items: center;justify-content: center;display: flex;">Submit Order!</button> -->
      </div>
      <div id="paypal-button-container"></div>
      <p id="result-message"></p>
      
    </form>
    <!-- <button type="submit" class="btn" style="text-align: center;align-items: center;justify-content: center;display: flex;">Book a Table</button> -->
  </section>
  {% endif %}



</div>
  <script src="https://www.paypal.com/sdk/js?client-id=AV9mgCdevQM4Zm7hPosuvr52csNTie7p5FwouRhWilSO2OEDTyECto5z6323pajKALdIC-UOk5JlQB8q&currency=USD"></script>
  <script src="{% static 'js/cart.js' %} "></script>



  <script>

    window.paypal
      .Buttons({
        async createOrder() {
          try {


            const response = await fetch("/order/generate/", {
              method: "GET"
            });
            
            const orderData = await response.json();
            console.log(orderData);
            
            if (orderData.id) {
              return orderData.id;
            } else {
              const errorDetail = orderData?.details?.[0];
              const errorMessage = errorDetail
                ? `${errorDetail.issue} ${errorDetail.description} (${orderData.debug_id})`
                : JSON.stringify(orderData);
              
              throw new Error(errorMessage);
            }
          } catch (error) {
            console.error(error);
            resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
          }
        },
        async onApprove(data, actions) {
          // try {
            
            // Three cases to handle:
            //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
            //   (2) Other non-recoverable errors -> Show a failure message
            //   (3) Successful transaction -> Show confirmation or thank you message
            
            // const errorDetail = orderData?.details?.[0];
            // console.log(errorDetail);
            // if (errorDetail?.issue === "INSTRUMENT_DECLINED") {
            //   // (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
            //   // recoverable state, per https://developer.paypal.com/docs/checkout/standard/customize/handle-funding-failures/
            //   Swal.mixin({
            //     toast: true,
            //     position: "top-end",
            //     showConfirmButton: false,
            //     timer: 3000,
            //   }).fire({
            //     icon: "error",
            //     title: "INSTRUMENT_DECLINED"
            //   });

            //   return actions.restart();
            // } else if (errorDetail) {
            //   // (2) Other non-recoverable errors -> Show a failure message
            //   Swal.mixin({
            //     toast: true,
            //     position: "top-end",
            //     showConfirmButton: false,
            //     timer: 3000,
            //   }).fire({
            //     icon: "error",
            //     title: "Payment Failed"
            //   });
            //   throw new Error(`${errorDetail.description} (${orderData.debug_id})`);
            // } 

            // else {
              // (3) Successful transaction -> Show confirmation or thank you message
              // Or go to another URL:  actions.redirect('thank_you.html');
              const token = '{{ csrf_token }}';
              let name = document.getElementById('name').value;
              let email = document.getElementById('email').value;
              let street = document.getElementById('street').value;
              let city = document.getElementById('city').value;
              let state = document.getElementById('state').value;
              let zip = document.getElementById('zip').value;
          
              let body = {
                name : name,
                email : email,
                street : street,
                city : city,
                state : state,
                zip_code: zip
              }
              console.log("HIIIIIIIIIIIII",body)
              const response = await fetch(`/order/${data.orderID}/capture`, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": token                  },
                  body: JSON.stringify(body)
                });
            
            const orderData = await response.json();
            console.log("order",orderData)
            if(orderData?.res == "success"){
              console.log("under if",orderData?.res)
              Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2000,
              }).fire({
                icon: "success",
                title: "Ordered"
              });

              setTimeout(() => window.location.replace('/'), 2000);
            }



              // const transaction =
              //   orderData?.purchase_units?.[0]?.payments?.captures?.[0] ||
              //   orderData?.purchase_units?.[0]?.payments?.authorizations?.[0];
              // resultMessage(
              //   `Transaction ${transaction.status}: ${transaction.id}<br><br>See console for all available details`,
              // );
              // console.log(
              //   "Capture result",
              //   orderData,
              //   JSON.stringify(orderData, null, 2),
              // );
        //     }
        //   } catch (error) {
        //     console.error(error);
        //     resultMessage(
        //       `Sorry, your transaction could not be processed...<br><br>${error}`,
        //     );
        //   }
        },
      })
      .render("#paypal-button-container");
      
    // Example function to show a result to the user. Your site's UI library can be used instead.
    function resultMessage(message) {
      const container = document.querySelector("#result-message");
      container.innerHTML = message;
    }



  </script>



{% endblock %}