{% extends "base.html" %}
{% block content %}
{% load static %}

<script>
  foodItems = JSON.parse("{{ food|escapejs }}");
  category = "{{ category|escapejs }}";

</script>

<section class="section food-menu" id="food-menu">
    <div class="container">
      <p class="section-subtitle">Popular Dishes</p>

      <h2 class="h2 section-title">
        Our Delicious <span class="span">Foods</span>
      </h2>

      <p class="section-text">
        Food is any substance consumed to provide nutritional support for
        an organism.
      </p>

      <ul class="fiter-list">
        <li>
          <a href="{% url 'shop' %}"><button class="filter-btn" id="category-None">All</button></a>
        </li>

        <li>
          <a href="{% url 'shop' %}?category=8" >  <button id="category-8" class="filter-btn">Pizza</button> </a>
        </li>

        <li>
          <a href="{% url 'shop' %}?category=9" ><button id="category-9" class="filter-btn">Burger</button></a>
        </li>

        <li>
          <a href="{% url 'shop' %}?category=5" ><button id="category-5" class="filter-btn">Drinks</button></a>
        </li>

        <li>
          <a href="{% url 'shop' %}?category=10" > <button id="category-10" class="filter-btn">Sandwich</button></a>
        </li>
      </ul>

      <ul id="food-items-list" class="food-menu-list">

      </ul>
    </div>
  </section>
  <script src="{% static 'js/shop.js' %} "></script>

{% endblock %}